html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  color: #333;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

html, body {
  width: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  background-color: #fff;
}

.my-btn {
  width: 2.2rem;
  height: .88rem;
  border-radius: 6px;
  line-height: .88rem;
  text-align: center;
  font-size: .32rem;
  color: #ffffff;
}

.my-btn.confirm {
  background-color: #6fc800;
}

.my-btn.cancel {
  background-color: #aeaeae;
}

.container {
  background-color: #fff;
  padding-bottom: .2rem;
}

.d-flex {
  display: flex;
}

div.title {
  font-size: .3rem;
  color: #2a2a2a;
  padding: 0 .24rem;
  height: .9rem;
  line-height: .9rem;
  border-bottom: 1px solid #dcdcdc;
}

.content {
  padding: .24rem;
}

.content .item:first-child {
  margin-top: 0;
}

.content .item {
  margin-top: .24rem;
  display: flex;
  align-items: center;
}

.content .item img {
  width: .32rem;
  height: .32rem;
  margin-right: .24rem;
}

.content .item p {
  font-size: .26rem;
  color: #7e7e7e;
}

.content .item select {
  height: .44rem;
  border: 1px solid #dedede;
  font-size: .26rem;
  color: #7e7e7e;
  outline: none;
  border-radius: .04rem;
  text-align: center;
  text-indent: .1rem;
  width: 1.5rem;
}

.content .item .gang {
  margin: 0 .2rem;
}

.content .item .date {
  height: .44rem;
  line-height: .44rem;
  border: 1px solid #dedede;
  font-size: .26rem;
  color: #7e7e7e;
  outline: none;
  border-radius: .04rem;
  background-color: #fff;
  width: 2.1rem;
  padding: 0 .1rem;
  position: relative;
}

.content .item .date img {
  width: .24rem;
  height: .18rem;
  position: absolute;
  right: .1rem;
  top: 50%;
  margin-top: -.09rem;
  margin-right: 0;
}

.content .tips {
  display: flex;
  align-items: center;
  margin: .2rem 0 .2rem .56rem;
}

.content .tips .img1 {
  width: .32rem;
  height: .32rem;
}

.content .tips .img2 {
  width: .24rem;
  height: .18rem;
}

.content .tips p {
  color: #65b700;
  font-size: .26rem;
  margin: 0 .1rem;
}

.content .tips-cont {
  margin-left: .56rem;
  padding: .2rem;
  background-color: #f7f7f7;
  overflow: hidden;
  width: 4.2rem;
}

.content .tips-cont div {
  display: flex;
  margin-top: .2rem;
}

.content .tips-cont div span {
  border-radius: .04rem;
  background-color: #fff;
  border: 1px solid #dedede;
  height: .36rem;
  line-height: .36rem;
  width: 1.8rem;
  text-align: center;
  color: #7e7e7e;
  font-size: .24rem;
  float: left;
  margin-left: .18rem;
}

.content .tips-cont div span:first-child {
  margin-left: 0;
}

.content .tips-cont div:first-child {
  margin-top: 0;
}

.foot span {
  display: block;
  width: 2.2rem;
  height: .68rem;
  line-height: .68rem;
  text-align: center;
  color: #fff;
  font-size: .32rem;
  border-radius: .08rem;
  float: left;
  overflow: hidden;
  margin-left: 1rem;
  margin-top: .8rem;
}

.foot span.s1 {
  background-color: #6fc800;
}

.foot span.s2 {
  background-color: #aeaeae;
}
