@import 'common.scss';

div.title{
    font-size: .3rem;
    color: #222;
    padding: 0 .24rem;
    height: .9rem;
    line-height: .9rem;
    border-bottom: 1px solid #dcdcdc;
}
.list{
    .item{
        padding: .24rem;
        border-bottom: 1px solid #dcdcdc;
        display: flex;
        .i-left{
            flex: 1;
            div{
                display: flex;
                align-items: center;
                margin-top: .20rem;
                img{
                    width: .32rem;
                    height: .32rem;
                }
                p{
                    font-size: .26rem;
                    color: #777;
                    margin-left: .23rem;
                }
            }
            div:first-child{
                margin-top: 0;
            }
        }
        .i-right{
            font-size: .26rem;
            color: #6fc800;
            border: 1px solid #6fc800;
            padding: .05rem .15rem;
            height: min-content;
            border-radius: .08rem;
        }
        
    }
}