@import 'common.scss';

div.input{
    padding: 0 .46rem;
    margin-top: 3rem;
    input{
        outline: none;
        border: 1px solid #dedede;
        height: .88rem;
        line-height: .88rem;
        font-size: .28rem;
        width: 100%;
        border-radius: .08rem;
        margin-top: .6rem;
        text-indent: 1.5em;
    }
}

.btn{
    display: block;
    background-image: linear-gradient(to right, #75c504 , #65a607);
    margin: .8rem auto;
    width: 4.86rem;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    font-size: .28rem;
    color: #fff;
    border-radius: .1rem;
}